func (stack *{{ $.StructName }}) Push(val {{ index .Args "type"  }}) {
  stack.data = append(stack.data, val)
  stack.top++
}

func (stack *{{ .StructName }}) Pop() error {
  if stack.top == 0 {
    return ErrEmptyStack
  }

  stack.top--
  return nil
}

func (stack *{{ .StructName }}) Peek() (result {{ index .Args "type" }}, err error) {
  if stack.top <= 0 {
    err = ErrEmptyStack
    return
  }

  result = stack.data[stack.top - 1]
  return
}
